* {
    margin 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #000;
}

.loader {
    position: relative;
    width: 500px;
    height: 7px;
    background: #fff;
    -webkit-box-reflect: below 1px linear-gradient(transparent, #0005);
}

.loader:before {
    content: '';
    position: absolute;
    inset: 0;
    background: linear-gradient(90deg, #ff0095, #0000f4, #00ff00, #ffff00,  #ff0095, #0000f4, #00ff00, #ffff00, #ff0095);
    animation: animate 15s linear infinite;
    background-size: 500%;
}

.loader:after {
    content: '';
    position: absolute;
    inset: 0;
    background: linear-gradient(90deg, #ff0095, #0000f4, #00ff00, #ffff00,  #ff0095, #0000f4, #00ff00, #ffff00, #ff0095);
    animation: animate 20s linear infinite;
    background-size: 500%;
    filter: blur(30px);
}